<% provide(:title, 'Hoge') %>
<h1>Games</h1>
<span class="game-name">ゲーム名:<%= @game.name %></span>
<span class="game-temperature">気温:<%= @game.disp_temperature %>℃</span>
<span class="game-oxygen">酸素濃度:<%= @game.oxygen %>%</span>
<span class="game-sea">海洋:<%= @game.sea %></span>
<span class="game-round">ラウンド:<%= @game.round %></span>
<span class="game-start-seat">開始位置:<%= @game.start_seat %></span>
<div>
  <span>参加者</span>
  <ul>
    <% @game.player.each do |p| %>
      <li><%= p.user.name %></li>
    <% end %>
  </ul>
</div>
<div id="boardHexGrid">
  <div class="hexCrop">
    <div class="hexGrid">
      <% @game.board.each do |line| %>
        <% line.each do |b| %>
          <div class="<%= ["hex"].concat(b[:classes]).join(" ") %>">
            <% b[:resources].each do |r| %>
              <div class="<%= r %>"></div>
            <% end %>
            <%= b[:label] %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
