<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "テラフォーミングマーズ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if user_signed_in? %>
        <li><div class="gravatar-wrapper"><%= gravatar_for current_user %></div></li>
        <li><a class="no-hover"><%= current_user.name %>さん</a></li>
        <li><%= link_to 'Log out', log_out_path, method: :delete %></li>
        <% else %>
        <li><%= link_to "Log in", user_google_omniauth_authorize_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>